



.imageContainer {
  height: 100%;
  background-image: url('https://ucarecdn.com/376d0a3a-5958-465b-9f2c-69610d307916/');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


  @media (max-width: 480px){
    
.imageContainer {
  height: 100%;
  
  background-image: url('https://ucarecdn.com/376d0a3a-5958-465b-9f2c-69610d307916/');

 
  background-position: 13% 20%;
  background-repeat: no-repeat;
}

  }