



.imageContainer {
  height: 100%;
  background-image: url('https://cdn.prod.website-files.com/6891df87cfba687a7fd80202/6894c43e74ee408d8b7f56db_Group%201171275099%20(1).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


  @media (max-width: 480px){
    
.imageContainer {
  height: 100%;
  
  background-image: url('https://cdn.prod.website-files.com/6891df87cfba687a7fd80202/6894c43e74ee408d8b7f56db_Group%201171275099%20(1).png');

 
  background-position: 13% 20%;
  background-repeat: no-repeat;
}

  }