@import "../../../../assets/styles/Global.scss";

.rightSidebar {
    padding: 1rem;
    border-left: 1px solid rgba(255, 190, 11, 0.84);
    margin-left: 10px;
    height: 80vh;
    overflow-y: scroll;
    h3 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: #fff;
      padding-bottom: 0.5rem ;
      border-bottom: 2px solid rgba(255, 190, 11, 0.84);
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .blogItem {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .blogImage {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 0.8rem;
    }
    .blogInfo {
      flex: 1;
      .blogHeading {
        font-size: 0.95rem;
        font-weight: bold;
        background: var(--primary);
        -webkit-background-clip: text;
        color: transparent;
        margin: 0 0 0.3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
      }
      .blogAuthor {
        font-size: 0.85rem;
        color: #555;
        margin: 0;
      }
      .blogReactions {
        font-size: 0.8rem;
        color: #888;
      }
    }
  }
  