.tabBar {
  position: relative;
  width: 100%;
  max-width: 40rem;
  height: 85vh;
  overflow-y: auto;
  padding: 10px;
  margin-right: 1rem;
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
  background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%); /* Gradient background on hover */
  -webkit-background-clip: text;
  color: transparent; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabItem {
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  color: white; 
  border-bottom: 1px solid rgb(143, 139, 139); 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tabItem:hover {
  background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%);
  -webkit-background-clip: text;
  color: transparent; 
}

.tabItem.active {
  background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%);
  -webkit-background-clip: text;
  color: transparent; 
  font-weight: bold;
  border-left: 4px solid #f4b60c; 
}

.tabItem:last-child {
  border-bottom: none;
}


@media (max-width: 1200px) {
  .tabBar {
    max-width: 35rem;
  }

  .tabItem {
    font-size: 14px; 
    padding: 12px;  
  }

  .title {
    font-size: 18px; 
    background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%); /* Gradient background on hover */

  }
}

@media (max-width: 900px) {
  .tabBar {
    max-width: 30rem;  
    margin-right: 0;   
  }

  .tabItem {
    font-size: 14px; 
    padding: 10px;  
  }

  .title {
    font-size: 16px; 
    background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%); /* Gradient background on hover */

  }
}

@media (max-width: 600px) {
  .tabBar {
    max-width: 100%; 
    height: 70vh;    
    margin-right: 0; 
    padding: 8px;     
  }

  .title {
    font-size: 14px; 
    background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%); /* Gradient background on hover */
    
  } 

  .tabItem {
    font-size: 12px; 
    padding: 8px;   
  }
}